<p-dialog  [(visible)]="displayModal" [modal]="true" [style]="{width: '50vw'}" [baseZIndex]="10000"
    [draggable]="false" [resizable]="false">
    <h2 class="text-center">Welcome</h2>
    <h3>Name: Tan Geok Chee</h3>
    <h3>NRIC: S9XXXXXXXC</h3>
    <p-footer>
        <button type="button" pButton icon="pi pi-check" (click)="displayModal=false" label="OK"></button>
    </p-footer>
</p-dialog>

<div class="container">
    <div class="row guide-item">
        <div class="col-sm-6 center-title">
            Collect
        </div>
        <div class="col-sm-6 center-title">
            Order
        </div>
    </div>
    <div class="row">
        <img src="assets/img/collect.png" class="btn btn-primary col-sm-6 image-holder" (click)="collect()">
        <img src="assets/img/order.png" class="btn btn-primary col-sm-6 image-holder" (click)="order()">
    </div>
    <div class="row function-bar">
        <button class="btn btn-primary display" (click)="back()">Back</button>
    </div>
</div>