<div class="container">
    <div class="row">
        <p class="guideTitle">Order Details</p>
    </div>
    <div class="row guideTitle">
        <div class="col-sm-4">
            Medication Name
        </div>
        <div class="col-sm-4">
            Duration
        </div>
        <div class="col-sm-4">
            Cost ($)
        </div>
    </div>
    <div class="row">
        <table class="test">
            <tr *ngFor="let medication of listOfMedication">
              <td class="guide">{{ medication.name }}</td>
              <td class="guide">{{ medication.duration }}</td>
              <td class="guide">{{ medication.cost }}</td >
            </tr>
          </table>
    </div>    
    <div class="row">
        <div class="guideTitle offset-md-8 col-sm-4">
            Total: ${{total}}
        </div>
    </div>
    <!-- <div class="row">
        <div class="col-sm-4">
            <ul>
                <li style="list-style-type: none;" class="guide" *ngFor="let medication of medications">
                  {{ medication }}
                </li>
              </ul>
        </div>
        <div class="col-sm-4">
            <ul>
                <li class="guide" style="list-style-type: none;" *ngFor="let duration of durations">
                  {{ duration }}
                </li>
              </ul>
        </div>
        <div class="col-sm-4">
            <ul>
                <li class="guide" style="list-style-type: none;" *ngFor="let cost of costs">
                  {{ cost }}
                </li>
              </ul>
        </div>
    </div> -->
    <div class="row function-bar">
        <button class="btn btn-primary" (click)="back()">Back</button>
        <button class="btn btn-primary" (click)="forward()">Continue</button>
    </div>
</div>