<div class="container">
    <div class="row">
        <p class="guide">Order Details</p>
    </div>
    <table class="table table-bordered">
        <thead class="guideTitle">
            <td></td>
            <td>Medication Name</td>
            <td>Duration</td>
            <td>Cost ($)</td>
        </thead>
        <tbody>
            <tr *ngFor="let medication of listOfMedication; let i=index;">
                <th class="guide">{{i+1}}</th>
                <td class="guide">{{ medication.name }}</td>
                <td class="guide">{{ medication.duration }}</td>
                <td class="guide">{{ medication.cost }}</td>
            </tr>
        </tbody>
    </table>
    <div class="row">
        <div class="guideTitle offset-md-8 col-sm-4">
            Total: ${{total}}.00
        </div>
    </div>
    <div class="row function-bar">
        <button class="btn btn-info" (click)="back()">Back</button>
        <button class="btn btn-info" (click)="forward()">Continue</button>
    </div>
</div>