<div class="container">
    <div class="row">
        <p class="guideTitle">Name: Tan Geok Chee</p>
    </div>
    <div class="row">
        <p class="guideTitle">NRIC: S9XXXXXXXC</p>
    </div>
    <div class="row">
        <p class="guideTitle">Drug list:</p>
        <table class="table table-bordered">
            <thead class="guideTitle">
                <td></td>
                <td>Medication Name</td>
                <td>Duration</td>
                <td>Cost ($)</td>
            </thead>
            <tbody>
                <tr *ngFor="let medication of listOfMedication; let i=index;">
                    <th class="guide">{{i+1}}</th>
                    <td class="guide">{{ medication.name }}</td>
                    <td class="guide">{{ medication.duration }}</td>
                    <td class="guide">{{ medication.cost }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="row">
        <p class="guideTitle">Total: ${{total}}</p>
    </div>
    <div class="row">
        <p class="guideTitle">Collect location: {{communityCentre}}</p>
    </div>
    <div class="row">
        <p class="guideTitle">Date of Collection: {{dateOfCollection}}</p>
    </div>
    <div class="row function-bar">
        <button class="btn btn-info" (click)="back()">Back</button>
        <button class="btn btn-info" (click)="forward()">Proceed to payment</button>
    </div>
</div>