<div class="container">
    <p class="header text-center">NHIPS Community Club Kiosk</p>
    <p class="guide text-center">Touch to begin</p>
    <div class="row button-row">
        <button class="btn btn-info" (click)="forward()">English</button>
    </div>
    <div class="row button-row">
        <button class="btn btn-info" (click)="forward()">中文</button>
    </div>
    <div class="row button-row">
        <button class="btn btn-info" (click)="forward()">Bahasa Melayu</button>
    </div>
    <div class="row button-row">
        <button class="btn btn-info" (click)="forward()">தமிழ்</button>
    </div>
</div>