<div class="container">
    <p class="guide">Payment method:</p>
    <div class="row">
        <p-radioButton name="groupname" value="val1" [(ngModel)]="selectedValue"></p-radioButton>
        <img src="assets/img/visa.png" alt="visa" class="image-holder">&nbsp;
        <p-radioButton name="groupname" value="val2" [(ngModel)]="selectedValue"></p-radioButton>
        <img src="assets/img/master.png" alt="visa" class="image-holder">
    </div>
    <br>
    <form>
        <div class="form-row">
            <div class="col-md-12">
                <label for="card" class="guide">Card Number</label>
                <input type="text" class="form-control input" id="card">
            </div>
        </div>
        <div class="form-row">
            <div class="col-6">
                <label for="date" class="guide">Expiration Date</label>
                <input type="month" class="form-control input" id="date">
            </div>
            <div class="col-6">
                <label for="code" class="guide">CSV</label>
                <input type="text" class="form-control input" id="code">
            </div>
        </div>
        <div class="row function-bar">
            <button class="btn btn-info display" (click)="back()">Cancel</button>
            <button class="btn btn-info display" (click)="pay()">Pay</button>
        </div>
    </form>
</div>